<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.nikitadev.translate</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>106F3E8A-2E39-4271-926D-A914AB923F97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>651FC5D3-99B6-45E2-A896-01E2A7D3393C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2D5C5DA-1EAE-4512-B453-DEB6657BA96B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>106F3E8A-2E39-4271-926D-A914AB923F97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Meshchaninov</string>
	<key>description</key>
	<string>Translate text or words to selected language</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D2D5C5DA-1EAE-4512-B453-DEB6657BA96B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>t</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Translating text...</string>
				<key>script</key>
				<string>python3 ./main.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Translate to {var:output_language} or {var:input_language}</string>
				<key>title</key>
				<string>Write text to translate</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>106F3E8A-2E39-4271-926D-A914AB923F97</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>651FC5D3-99B6-45E2-A896-01E2A7D3393C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Usage
Translate words or sentences to another language with Google Translate via the `t` keyword.
![preview](images/preview.png)
![preview2](images/preview2.png)
↩: Copy translate to the clipboard.  
By default, translate any language to Russian, setup your language in the **workflow settings**.</string>
	<key>uidata</key>
	<dict>
		<key>106F3E8A-2E39-4271-926D-A914AB923F97</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>651FC5D3-99B6-45E2-A896-01E2A7D3393C</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>D2D5C5DA-1EAE-4512-B453-DEB6657BA96B</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ru</string>
				<key>pairs</key>
				<array>
					<array>
						<string>English</string>
						<string>en</string>
					</array>
					<array>
						<string>Arabic</string>
						<string>ar</string>
					</array>
					<array>
						<string>Chinese</string>
						<string>zh</string>
					</array>
					<array>
						<string>French</string>
						<string>fr</string>
					</array>
					<array>
						<string>German</string>
						<string>de</string>
					</array>
					<array>
						<string>Italian</string>
						<string>it</string>
					</array>
					<array>
						<string>Japanese</string>
						<string>jp</string>
					</array>
					<array>
						<string>Korean</string>
						<string>ko</string>
					</array>
					<array>
						<string>Portuguese</string>
						<string>pt</string>
					</array>
					<array>
						<string>Russian</string>
						<string>ru</string>
					</array>
					<array>
						<string>Spanish</string>
						<string>es</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Target language into which the text will be translated</string>
			<key>label</key>
			<string>Target language</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>output_language</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>en</string>
				<key>pairs</key>
				<array>
					<array>
						<string>English</string>
						<string>en</string>
					</array>
					<array>
						<string>Arabic</string>
						<string>ar</string>
					</array>
					<array>
						<string>Chinese</string>
						<string>zh</string>
					</array>
					<array>
						<string>French</string>
						<string>fr</string>
					</array>
					<array>
						<string>German</string>
						<string>de</string>
					</array>
					<array>
						<string>Italian</string>
						<string>it</string>
					</array>
					<array>
						<string>Japanese</string>
						<string>jp</string>
					</array>
					<array>
						<string>Korean</string>
						<string>ko</string>
					</array>
					<array>
						<string>Portuguese</string>
						<string>pt</string>
					</array>
					<array>
						<string>Russian</string>
						<string>ru</string>
					</array>
					<array>
						<string>Spanish</string>
						<string>es</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Select the language into which the text will be translated, if it is written in target language</string>
			<key>label</key>
			<string>Input language</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>input_language</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://nikitadev.dev</string>
</dict>
</plist>
